#db_search_container {
    padding-top: 80px;
}

#db_search_align_container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#categories_box {
    padding: 20px;
    padding-left: 20px;
    width: 694px;
    height: 150px;
    margin-top: 15px;
    clear: both;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#total {
    text-align: right;
    font-weight: bold;
    font-size: 40px;
    color: #34495e;
    font-weight: lighter;
    padding-top: 10px;
    float: right;

}

#total_label {
    text-align: left;
    font-size: 15px;
    color: #8a9eb3;
    width: 50px;
    float: right;
    width: 100px;
    padding-top: 17px;
    margin-left: 10px;
}

.option_icon_box {
    width: 150px;
    height: 150px;
    border: 1px solid #d2d2d2;
    float: left;
    margin-right: 20px;
    background-color: #fff;
    cursor: pointer;
}

.option_icon_top_border {
    height: 10px;
    width: 152px;
    margin-left: -1px;
    margin-top: -1px;

}

#border_1 {
    background-color: #c0392b;
}

#border_2 {
    background-color: #2ecc71;
}

#border_3 {
    background-color: #9b59b6;
}

#border_4 {
    background-color: #3498db;
}

#border_5 {
    background-color: #e74c3c;
}

.option_icon {
    width: 80px;
    height: 70px;
    margin-left: 33px;
    margin-top: 5px;
}

.option_text {
    text-align: center;
    width: 120px;
    font-size: 18px;
    color: #343434;
    line-height: 115%;
    margin-top: 7px;
    margin-left: 13px;
}

/*#option_2.option_icon_box, #option_3.option_icon_box, #option_4.option_icon_box {
        opacity: 0.5;
}*/

.sub_option_filter {
    width: 821px;
    display: none;
}

#sub_option_work_filter_sector {
    display: none;
}

#sub_option_other_filter {
    border-top: 10px solid #e74c3c;
}


.sub_option_container  {
    display: none;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

.sub_option {
    width: 169px;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    float: left;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5
}

label {
    float: left;
    margin-left: 20px;
    font-size: 17px;
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
    margin-top: -2px;
}

.add_to_filter_btn, #create-campaign-button {
    -webkit-border-radius: 7px;
    padding: 10px 30px 10px 30px;
    float: right;
    cursor: pointer;
    box-shadow: 0 4px #d7d7d7;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    background-color: #f4f4f4;
}

#create-campaign-button {
    margin-top: -20px;
    margin-right: 15px;
    padding: 10px 15px 10px 15px;
}

#current-filter {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    padding: 0 0 20px 0;
    min-height: 40px;
}

.filter-element {
    position: relative;
    padding: 5px 15px 5px 15px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    cursor: pointer;
    /*box-shadow: 0 4px #d7d7d7;*/
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    background-color: #f4f4f4;
}

.remove-from-filter {
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    height: 17px;
    width: 17px;
    background-image:url('../img/delete_box_btn_sml.png');
    background-position: 0px -17px;
    cursor: pointer;
}

.remove-from-filter:hover {
    background-position: 0px 0px;
}

#filter_header {
    font-size: 40px;
    margin-top: 10px;
    font-weight: lighter;
    color: #7991a5;
    clear: both;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#company_text_box {
    width: 640px;
}



#box_1, #box_2, #box_3, #box_4 {
    height: 190px;
    width: 410px;
    float: left;
}

#sector_box checkbox {
    font-size: 16px;
}

#sub_option_work_filter_sector input[type="checkbox"], #sub_option_academic_filter_school input[type="checkbox"] {
    margin-top: 4px;
}

#sub_option_academic_filter_school {
    height: 400px;
    border-top: 10px solid #9b59b6;
}

#ucas_points {
    font-size: 40px;
    height: 50px;
    padding: 20px;
    width: 120px;
    margin-top: 30px;
    float: left;
    text-align: center;
}

#equivalent_to_box {
    height: 132px;
    width: 600px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}

#equivalent_to_box h4 {
    margin-top: 0px;
    font-weight: normal;
}

#equivalent_to_box h1 {
    font-size: 50px;
    font-weight: normal;
    color: #85a0b2;
}

#equivalent_to_box h5 {
    font-weight: normal;
    color: #bbc9d2;
    font-size: 18px;
    margin-top: 15px;
    line-height: 120%;
}

#a_level_box, #highers_box, #ib_box {
    float: left;
    margin-right: 20px;
    width: 170px;
}